In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
data = pd.read_json('/Users/semyonemakov/VK_Parser-1/people_close.json')
data.to_excel('/Users/semyonemakov/VK_Parser-1/excelina.xlsx')

In [6]:
players_with_groups = pd.read_json('/Users/semyonemakov/VK_Parser-1/people_open_with_groups.json')



list_of_groups = ['Fantasy Premier League', 'Omar Momani']


def get_name(group_info):
    try: 
        return group_info.get("NAME","") if group_info != "NaN" else ""
    except:
        return ""
    


flatten = players_with_groups.explode('GROUPS')

flatten['group_name'] = flatten['GROUPS'].apply(get_name)


filtred = flatten[flatten['group_name'].isin(list_of_groups)]


filtred.head()

,NUMBER,ID,LINK,CITY,AGE,GROUPS,group_name
2,3,26956,https://vk.com/id26956,Москва,36,"{'ID': 75099129, 'LINK': 'https://vk.com/publi...",Fantasy Premier League
2,3,26956,https://vk.com/id26956,Москва,36,"{'ID': 39911616, 'LINK': 'https://vk.com/publi...",Omar Momani
75,76,1323183,https://vk.com/id1323183,Москва,33,"{'ID': 39911616, 'LINK': 'https://vk.com/publi...",Omar Momani
87,88,1706159,https://vk.com/id1706159,Москва,32,"{'ID': 75099129, 'LINK': 'https://vk.com/publi...",Fantasy Premier League
147,148,3889814,https://vk.com/id3889814,Москва,0,"{'ID': 39911616, 'LINK': 'https://vk.com/publi...",Omar Momani

In [21]:

def get_name(group_info):
    try: 
        return group_info.get("NAME","") if group_info != "NaN" else ""
    except:
        return ""

def add_intersection_and_any(input_path, list_of_groups, output_path = ''):
    #read data
    players_with_groups = pd.read_json(input_path)

    def is_in_intersection(groups, list_of_groups = list_of_groups):
        return set(groups).intersection(set(list_of_groups)) == set(list_of_groups)

    def is_in_anyone(groups, list_of_groups = list_of_groups):
            return set(groups).intersection(set(list_of_groups)) != set({})

    #get names of groups
    players_with_groups['GROUPS_names'] = players_with_groups['GROUPS'].\
        apply(lambda lst: [get_name(x) for x in lst] )

    #add new columns to dataframe
    players_with_groups['intersection'] = players_with_groups['GROUPS_names'].apply(is_in_intersection)
    players_with_groups['is_in_any'] = players_with_groups['GROUPS_names'].apply(is_in_anyone)

    if output_path:
         players_with_groups.to_json(output_path)

    return players_with_groups

def apply_slicer(input_path, list_of_groups, slicer = "intersection", output_path = ''): #slicer in ("intersection", "any")

    assert slicer in ['intersection', 'any'], "не правильный слайсер, криворукая ты рожа"

    data = add_intersection_and_any(input_path, list_of_groups)
    if slicer == "intersection":

        filtred =  data[data["intersection"]]
     
    if slicer == "any":
        filtred =  data[data["is_in_any"]] 
    

    if output_path:
        filtred.to_json(output_path)


    return filtred

inp = '/Users/semyonemakov/VK_Parser-1/people_open_with_groups.json'

groups_to_check_in = ['Fantasy Premier League', 'Omar Momani']

result = apply_slicer(inp,groups_to_check_in) 
result

,NUMBER,ID,LINK,CITY,AGE,GROUPS,GROUPS_names,intersection,is_in_any
2,3,26956,https://vk.com/id26956,Москва,36,"[{'ID': 75099129, 'LINK': 'https://vk.com/publ...","[Fantasy Premier League, Omar Momani]",True,True
303,304,23287031,https://vk.com/id23287031,Москва,0,"[{'ID': 28639294, 'LINK': 'https://vk.com/publ...","[Футбол | ЕВРО-24, SportCast. Футбол - ЕВРО-20...",True,True

In [27]:
result

,NUMBER,ID,LINK,CITY,AGE,GROUPS,GROUPS_names,intersection,is_in_any
2,3,26956,https://vk.com/id26956,Москва,36,"[{'ID': 75099129, 'LINK': 'https://vk.com/publ...","[Fantasy Premier League, Omar Momani]",True,True
303,304,23287031,https://vk.com/id23287031,Москва,0,"[{'ID': 28639294, 'LINK': 'https://vk.com/publ...","[Футбол | ЕВРО-24, SportCast. Футбол - ЕВРО-20...",True,True

In [25]:
def dataframe_to_string(df, max_rows=1000, max_cols=30):
    """
    Преобразует DataFrame в человекочитаемую строку.
    
    :param df: DataFrame для преобразования
    :param max_rows: Максимальное число строк для отображения
    :param max_cols: Максимальное число колонок для отображения
    :return: Строковая репрезентация DataFrame
    """
    with pd.option_context('display.max_rows', max_rows, 'display.max_columns', max_cols):
        return df.to_string()

In [26]:
dataframe_to_string(result)

"     NUMBER        ID                       LINK    CITY  AGE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         GROUPS                                                                                                                                         GROUPS_names  intersection  is_in_any\n2         3     26956     https://vk.com/id26956  Москва   36                                                                                                                                                                                                                                                                                                                                                                                                          [{'ID': 75099129, 'LINK': 'https://vk.com/public75099129', 'NAME': 'Fantasy Premier League', 'theme': 'Футбол'}, {'ID': 39911616, 'LINK': 'https://vk.com/public39911616', 'NAME': 'Omar Momani', 'theme': 'Футбол'}]                                                                                                                [Fantasy Premier League, Omar Momani]          True       True\n303     304  23287031  https://vk.com/id23287031  Москва    0  [{'ID': 28639294, 'LINK': 'https://vk.com/public28639294', 'NAME': 'Футбол | ЕВРО-24', 'theme': 'Футбол'}, {'ID': 214218677, 'LINK': 'https://vk.com/public214218677', 'NAME': 'SportCast. Футбол - ЕВРО-2024. Чемпионат Европы', 'theme': 'Спортивная организация'}, {'ID': 75450980, 'LINK': 'https://vk.com/public75450980', 'NAME': 'Английский Акцент | Прямые трансляции АПЛ', 'theme': 'Футбол'}, {'ID': 75099129, 'LINK': 'https://vk.com/public75099129', 'NAME': 'Fantasy Premier League', 'theme': 'Футбол'}, {'ID': 39911616, 'LINK': 'https://vk.com/public39911616', 'NAME': 'Omar Momani', 'theme': 'Футбол'}]  [Футбол | ЕВРО-24, SportCast. Футбол - ЕВРО-2024. Чемпионат Европы, Английский Акцент | Прямые трансляции АПЛ, Fantasy Premier League, Omar Momani]          True       True"

In [35]:
def write_text_to_file(text, filename = "file.txt"):

    # Открытие файла в режиме записи и запись текста
    with open(filename, 'w', encoding='utf-8') as file:
        file.write(text)

    print(f"Текст успешно записан в {filename}")

In [37]:
write_text_to_file(result.to_string())

Текст успешно записан в file.txt